html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
/* Page Defaults */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html{
	font-size:62.5%;
	box-sizing: border-box;
}

body{
    font-size:1.6rem;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
}
/* Page Defaults End */

/*Header styles go here, this header will be used on all pages*/
header{
	display: flex;
    justify-content: center;
}
header nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size:2.5rem;
	background-color: #323e40;
	height: 10rem;
    width: 80%;
}
header nav a{
	text-decoration: none;
	color: white;
	margin: 1rem;
}
header nav div {
	display: flex;
	align-items: center;
}

span{
    border: 0.2rem solid white;
	height: 4rem;
}

a:hover{
	color: #d97d0d;;
}

header nav img {
	height: 8rem;
	margin-left: 2rem;
}
/* Header Styles End */

/* top container styles*/

.main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    background-image:linear-gradient(to top left, #323e40, #e2dccd);
    height: 55vh;
    border-bottom: 2px solid #323E40;
}

.left-text{
    width: 43%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 3%;
    padding-left: 4%;

}
.textBox{
    border:5px solid #323E40;
    background-color: #e2dccd;
    margin-top:7%;
    margin-left: 4%;
}
.left-text h1{
    color: black;
    font-size: 4.8rem;
    font-weight: bold;
}
.left-text h3{
    font-size: 2.4rem;
    margin: 2%;
    font-weight: bold;
}

.left-text p{
    margin: 3%;
}

.left-text button{
    background-color: #732001;
    height: 6vh;
    width:40%;
    margin-bottom: 3%;
    color:white;
    font-size: 2rem;
}

button:hover{
    background-color: #f2ab27;
    color: #732002;
}

.right-img{
    width: 47%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.right-img img{
    height: 55vh;
    width: 100%;
}

/*bottom container styles*/

.bottom-container{
    background-image: url(assets/pomegranate-transparent.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 80%;
}

.bottom-container h2{
    color: white;
    font-size: 3.6rem;
    font-weight: bold;
    text-align: center;
    margin-top: 3%;
    margin-bottom:5%;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.review{
    width:40%;
    height:100%;
    border: 5px solid #323E40;
    background-color: #e2dccd;
    margin:2%;

}

.review h2{
    font-size: 3rem;
    color: black;
    border-bottom: 2px #323E40;
}

.review h3{
    font-size: 2.4rem;
    text-decoration: underline;
    padding-bottom: 3%;
    margin-left: 3%;
}
.review p{
    font-size: 1.8rem;
    margin: 3%;
}


/* Footer Styles */
footer {
    display: flex;
    justify-content: center;
}

footer nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    font-size: 2.5rem;
    background-color: #323E40;
    height: 10rem;
}

footer nav a {
    margin: 1%;
    color: white;
}

/* Footer Styles End */


/*Styles for 800px*/
@media(max-width:800px){

/*Header styles*/
	header nav {
		width: 100%;
	}
	header nav a{
		font-size: 1.8rem;
	}
	header nav img{
		height: 8rem;
	}
	span{
		height: 3rem;
	}
	header nav img {
		height: 7rem;
		margin-left: 0.5rem;
	}

/*Footer Styles*/
	footer nav {
		width: 100%;
	}
	footer nav a{
		font-size:1.8rem;
	}
	footer nav span{
		height: 30%;
	}
}

@media(max-width:500px){
	header nav{
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 15rem;
	}
	header nav img{
		padding-right: 0%;
		height: 6.5rem;
	}
	header nav span{
		height: 2.4rem;
	}
	footer nav{
		width: 100%;
	}
}